<div class="container">

	<div class="row">
		<div class="col-xl-12">
			<h2>Introduction</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<p class="text-justify">Angular Project Start it's a bundle composed by Angular 6 and some of the most used packages in Angular. Using the router system and the router outlets provided by Angular 6, this bundle come with all the requeriments solved and a first code writed, just for download and start your application, without needs to install the usual packages.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<h2>Installed Packages</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<p>This packages comes with the bundle</p>
		</div>
	</div>

	<div class="row">

		<div class="col-xl-6">
			<div class="m-2 card">
				<div class="card-header header-bootstrap">
					<h3>Bootstrap.css</h3>
				</div>
				<div class="card-body">
					<p>Bootstrap its a complete css suite for develop full responsive sites without need overhead with the responsiveness</p>
				</div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="m-2 card">
				<div class="card-header header-popper">
					<h3>Popper.js</h3>
				</div>
				<div class="card-body">
					<p>Popper.js Allows you to create powerfull drop downs. It's a dependency of Bootstrap, but you can use it along</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-6">
			<div class="m-2 card">
				<div class="card-header header-jquery">
					<h3>JQuery</h3>
				</div>
				<div class="card-body">
					<p>One of the most famous and simplest frameworks for javascript.</p>
				</div>
			</div>
		</div>


		<div class="col-xl-6">
			<div class="m-2 card">
				<div class="card-header header-moment">
					<h3>Moment.js</h3>
				</div>
				<div class="card-body">
					<p>Moment js its a library for javascript for a better time and date control.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-6">
			<div class="m-2 card">
				<div class="card-header header-sass">
					<h3>Sass Support</h3>
				</div>
				<div class="card-body">
					<p>Syntactically Awesome Style Sheets (Sass) and his new syntax SCSS are bundled in this pack for a better css syntax, totally configured with Angular filesystem</p>
				</div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="m-2 card">
				<div class="card-header header-chart">
					<h3>Chart.js</h3>
				</div>
				<div class="card-body">
					<p>Another library. This is used to create simple and beautiful graphics</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-6">
			<div class="m-2 card">
				<div class="card-header header-ngxloadingbar">
					<h3>ngx loading bar</h3>
				</div>
				<div class="card-body">
					<p>A little tool for display a loading bar. Configured for use it with the Angular router's technology</p>
				</div>
			</div>
		</div>
	</div>

</div>
